@import "../../StylesRoot/common.scss";

.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: $background;
    border: 2px solid $text-first;
    border-radius: $radius;
    transition: 0.5s;

    .tap {
        position: absolute;
        top: -30px;
        left: 10px;
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background;
        border: 2px solid $text-first;
        border-bottom: none;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
        cursor: pointer;
        z-index: 1;

        svg {
            fill: $text-first;
            transition: 0.4s;
        }

        &:hover svg {
            fill: white;
        }
    }

    .inside {
        width: 70%;
        height: 95%;


        form {
            .formItem {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                color: $text-second;
                margin-bottom: 20px;


                label {
                    @include labelItem;
                    // text-align: center;
                    // margin-bottom: 20px
                }

                select {
                    @include selectItem;
                    background-color: $background;
                }

                input {
                    @include smallInput;
                    background-color: $background;

                }

                textarea {
                    background-color: $background;
                    border: 1px solid $text-first;
                    border-radius: $radius;
                    padding: 5px;
                    color: $text-second;
                    width: 100%;
                    height: 100px;
                }
            }

            .formButton {
                display: flex;
                justify-content: space-between;

                button {
                    @include lightButton;
                    @include smallButton;
                    width: 100px;
                }
            }

            .confirmation {
                color: $text-second;
                text-align: center;
            }
        }
    }

    @media screen and (orientation: landscape) {
        width: 500px;
        height: 300px;

        .inside {
            width: 90%;

            form {
                .formItem {
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 5px;
                }
            }

        }
    }

    @media screen and (min-width: map-get($breakpoints, medium)) {
        height: 420px;

        .inside {

            form {
                .formItem {

                    margin-bottom: 20px;
                }
            }

        }
    }
}

.open {
    right: 2%;
    bottom: 2%;
}