@import "../../StylesRoot/common.scss";


.wrapper {
    width: 100%;
    min-height: 100vh;
    margin-top: $header;
    padding-top: 60px;
    background-color: $background;
    color: $text-second;

    .inside {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border: 1px solid $text-first;
        border-radius: $radius;

        .aside {
            width: 100%;
            height: 50px;
            background-color: $box;
        }

        section {
            width: 100%;
            min-height: 50vh;
        }
    }

    @media screen and (orientation: landscape) {
        .inside {
            flex-direction: row;
            justify-content: space-between;


            .aside {
                flex-basis: 18%;
                height: auto;
            }

            section {
                flex-basis: 80%;

            }
        }
    }
}