@import "../../../StylesRoot/common.scss";

.wrapper {
    .noSubInfo {
        text-align: center;
        color: $text-second;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include smallButton;
            @include darkButton;
        }
    }
}