@import "../../../StylesRoot/common.scss";

.wrapper {
    .noSubInfo {
        text-align: center;
        color: $text-second;
    }

    .itemsOfVechicles {
        .fleetItem {
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid $text-first;

            div {
                display: flex;
                justify-content: center;

                p:nth-child(1) {
                    margin-right: 15px;
                }

                p {
                    color: $text-first;

                    span {
                        color: $text-second;

                    }
                }
            }

            p {
                margin-right: 15px;
                color: $text-first;

                span {
                    color: $text-second;
                }
            }

            .itemButtons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 20px;

                button {
                    @include smallButton;
                    @include lightButton;
                    width: 40%
                }
            }
        }
    }

    .addItemForm {
        margin-top: 20px;
        border: 1px solid $text-first;
        border-radius: $radius;
        padding: 15px;

        form {
            .kindOf {
                margin: 10px auto;
                display: flex;
                justify-content: space-around;

            }

            .quantity {
                display: flex;
                flex-direction: column;

                input {
                    margin-bottom: 25px;
                }

            }

            .specialEq {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 20px;


                label>input[type="checkbox"] {
                    display: none;

                }

                label>input[type="checkbox"]+*::before {
                    content: "";
                    display: inline-block;
                    vertical-align: bottom;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    border: 1px solid $text-first;
                    border-radius: $radius;
                }

                label>input[type="checkbox"]:checked+*::before {
                    content: "✓";
                    color: white;
                    text-align: center;
                    background: $text-first;
                    border-color: $text-first;
                }

                label>input[type="checkbox"]:checked+* {
                    color: $text-first;
                }

            }



            .additional {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    @include smallButton;
                    @include lightButton;
                }
            }

            select {
                @include selectItem;
            }

            label {
                @include labelItem;
            }

            input {
                @include smallInput;
            }


            textarea {
                width: 200px;
                height: 80px;
                padding: 10px;
                border: 1px solid $text-first;
                border-radius: $radius;
                background-color: $box;
                color: $text-second;
            }



        }
    }

    @media screen and (orientation:landscape) {
        .itemsOfVechicles {
            .fleetItem {

                .itemButtons {

                    button {

                        width: 20%
                    }
                }
            }
        }

        form {
            .buttons {
                button {
                    width: 120px;
                }
            }
        }
    }

    @media screen and (min-width: map-get($breakpoints, small)) {
        .addItemForm {
            form {
                .quantity {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    input {
                        width: 30%;
                    }
                }
            }
        }
    }

    @media screen and (min-width: map-get($breakpoints, medium)) {
        .itemsOfVechicles {
            .fleetItem {

                .itemButtons {

                    button {

                        width: 10%
                    }
                }
            }
        }

        .addItemForm {
            form {
                div {
                    margin: 10px auto;
                    display: flex;
                    justify-content: space-around;

                    div {
                        flex-basis: 45%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        input {
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;

                        }
                    }

                    textarea {
                        width: 400px;
                        height: 100px;

                    }
                }

                .specialEq {
                    label>input[type="checkbox"]+*::before {

                        width: 22px;
                        height: 22px;

                    }

                }

                .buttons {
                    button {
                        width: 15%;
                    }
                }
            }


        }
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
        .addItemForm {
            form {

                .specialEq {
                    label>input[type="checkbox"]+*::before {

                        width: 25px;
                        height: 25px;

                    }

                }

            }

        }
    }
}