@import "../../../StylesRoot/common.scss";

.wrapper {

    .form {
        display: flex;
        flex-wrap: wrap;

        div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;


            p {
                width: 100%;
                text-align: center;
                margin: 20px auto 10px auto;
                color: $text-second;
            }

            label {
                @include labelItem;
                width: 20%;
            }

            input {
                @include selectInput;
                width: 80%;
            }



            textarea {
                width: 80%;
                padding: 10px;
                margin: 10px auto;
                border: 1px solid $text-first;
                border-radius: $radius;
                background-color: $box;
                color: $text-second;
            }

            span {
                width: 100%;
                color: $worning;
                text-align: center;
            }

            select {
                @include selectItem;
                padding: 1px 3px;
            }



        }

        .kindOfTransport {


            div {
                width: 100%;
                display: flex;
                justify-content: space-around;


                input[type="radio"] {
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }

                label {
                    display: inline-block;
                    flex-basis: 33%;
                    background-color: $box;
                    text-align: center;
                    padding: 2px;
                    font-size: 14px;
                    border: 1px solid $text-first;
                    border-radius: $radius;
                }
            }

            div {
                input[type="radio"]:checked+label {
                    background-color: $text-first;

                }
            }

            div {
                label:hover {
                    background-color: $text-first;
                }
            }
        }

        div:nth-child(1) {
            width: 100%
        }

        div:nth-child(2) {
            width: 100%
        }

        div:nth-child(3) {
            width: 50%;

            label,
            input {
                width: 100%;
            }


        }

        div:nth-child(4) {
            width: 50%;

            label,
            input {
                width: 100%;
            }
        }

        div:nth-child(5) {
            width: 50%;

            label,
            input {
                width: 100%;
            }
        }

        div:nth-child(6) {
            width: 50%;

            label,
            input {
                width: 100%;
            }
        }

        div:nth-child(10) {

            align-items: center;
            justify-content: center;
        }

        div:nth-child(11) {

            justify-content: center;
            align-items: center;

            p {
                width: 45%
            }

            input {
                width: 35%;
            }
        }

        div:nth-child(12) {
            justify-content: space-around;
            align-items: center;

            color: $text-second;

            input {
                width: 10%;


            }
        }

        div:nth-child(13) {
            width: 100%;
            justify-content: space-between;
            align-items: center;


            p {
                width: 100%;
            }

            div {
                display: flex;
                justify-content: center;
                width: 30%;

                select {
                    background-color: $box;
                    border: 1px solid $text-first;
                    border-radius: $radius;

                    option {
                        color: $text-first;
                    }
                }
            }
        }
    }

    .kindOfTransport {
        margin-bottom: 10px;

    }


    .buttons {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;


        button {
            @include lightButton;
            @include smallButton;
            flex-basis: 40%;
            margin-bottom: 15px;

        }

        div {
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            button {
                margin-bottom: 15px;
            }
        }
    }

    .saveForm {
        div {
            display: flex;

            p {
                color: $text-first;

            }

            p:nth-child(2) {
                margin-left: 15px;
                color: $text-second;
            }
        }

        .topDirections {

            div {

                margin-left: 15px;
                display: flex;
                justify-content: space-between;

                p {
                    margin: auto;
                    flex-basis: 30%;
                    color: $text-second;
                    margin: 0 5px 0 5px;
                }
            }
        }
    }

    @media screen and (orientation: landscape) {

        .kindOfTransport {
            flex-basis: 50%;

        }

        .topDirections {
            flex-basis: 50%;
        }
    }

    @media screen and (min-width: map-get($breakpoints, medium)) {
        .buttons {

            button {
                flex-basis: 25%;
            }
        }
    }
}