@import "../../StylesRoot/common.scss";
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    p{
        flex-basis: 100%;
        text-align: center;
    }
    .buttons{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button{
            flex-basis: 40%;
            @include lightButton;
            @include smallButton;
        }
    }
}