@import "../../StylesRoot/common.scss";

.wrapper {
    position: relative;
    width: 100%;
    height: 500vh;
    overflow-x: hidden;

    .menu {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        .item {
            width: 75px;
            background-color: $box;
            border: 2px solid $text-first;

            border-top-left-radius: $radius;
            border-top-right-radius: 50px;
            color: $text-first;
            text-align: center;
            cursor: pointer;
            transition: 0.4s;
        }

        .selected {
            width: 75px;
            color: $background;
            background-color: $text-first;
            border: 2px solid $text-first;

            border-top-left-radius: $radius;
            border-top-right-radius: 50px;
            text-align: center;
            cursor: pointer;
            transition: 0.4s;
        }
    }

    .box {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: auto;
        padding: 20px 10px;
        background-color: $box;
        border: 2px solid $text-first;
        border-radius: $radius;
        transition: 0.5s
    }

    @media screen and (orientation: landscape) {}

    @media screen and (min-width: map-get($breakpoints, medium)) {}
}