@import "../../StylesRoot/common.scss";

.wrapper {
    width: 100%;
    padding-top: 100px;

    background-image: url('../../assets/img/group-2935518_640.png');
    background-position: center;
    background-color: $box;
    background-blend-mode: soft-light;

}